<%- include("partials/header.ejs") -%>

<h1>Compose</h1>

<form action="/" method="post">
	<label>Title</label><br />
	<input type="text" name="newBlogTitle" class="wide" /><br /><br />

	<label>Post</label><br />
	<textarea name="newBlogPost" class="wide" rows="10"></textarea><br /><br />

	<button type="submit" name="button" class="btn">Publish</button>
</form>

<%- include("partials/footer.ejs") -%>
